<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>$id$</id>
    <title>$title$</title>
    <version>$version$</version>
    <authors>$author$</authors>
    <owners>dittodhole,AlexBAV</owners>
    <summary>Free Hex Editor Neo is a large files optimized freeware editor for everyone who works with ASCII, hex, decimal, float, double and binary data.

It allows you to view, modify and analyze hexadecimal data and binary files, exchange data with other applications through the clipboard, make patches and more.
It supports unlimited undo/redo actions and represents your editing actions as visual operation history with branching.

Free Hex Editor Neo:

* Allows you to find data patterns in multi-gigabyte files in just a few seconds.
* Supports regular expression search across the files.
* Allows you to make file patches in just one click.
* Allows you to tune almost any aspect of user interface.</summary>
    <description>Free Hex Editor Neo is a large files optimized freeware editor for everyone who works with ASCII, hex, decimal, float, double and binary data.</description>
    <iconUrl>https://cdn.rawgit.com/dittodhole/chocolatey-free-hex-editor-neo/$branch$/assets/icon-256x256-hex-editor-neo.png</iconUrl>
    <packageSourceUrl>https://github.com/dittodhole/chocolatey-free-hex-editor-neo</packageSourceUrl>
    <projectUrl>https://www.hhdsoftware.com/free-hex-editor</projectUrl>
    <docsUrl>https://www.hhdsoftware.com/doc/hex-editor/getting-started-with-hex-editor-neo-documentation-road-map.html</docsUrl>
    <mailingListUrl>https://www.hhdsoftware.com/Support/knowledge-base</mailingListUrl>
    <releaseNotes>https://www.hhdsoftware.com/free-hex-editor/release-notes</releaseNotes>
    <tags>hex binary editor file text disk admin</tags>
    <copyright>$copyright$</copyright>
    <dependencies>
      <dependency id="chocolatey-core.extension" version="1.1.0" />
    </dependencies>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
    <file src="tools\chocolateyuninstall.ps1" target="tools" />
  </files>
</package>
