<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>$id$</id>
    <title>$title$</title>
    <version>$version$</version>
    <authors>$author$</authors>
    <owners>dittodhole,AlexBAV</owners>
    <description>A personal analytics service that shows you how you spend your time and provides tools to help you be more productive.</description>
    <summary></summary>
    <iconUrl>https://cdn.rawgit.com/dittodhole/chocolatey-free-hex-editor-neo/$branch$/assets/icon-256x256-hex-editor-neo.png</iconUrl>
    <packageSourceUrl>https://github.com/dittodhole/chocolatey-free-hex-editor-neo</packageSourceUrl>
    <bugTrackerUrl>https://github.com/dittodhole/chocolatey-free-hex-editor-neo/issues</bugTrackerUrl>
    <projectUrl>https://www.hhdsoftware.com/free-hex-editor</projectUrl>
    <licenseUrl>https://www.hhdsoftware.com/free-hex-editor</licenseUrl>
    <docsUrl>https://www.hhdsoftware.com/doc/hex-editor/getting-started-with-hex-editor-neo-documentation-road-map.html</docsUrl>
    <mailingListUrl>https://www.hhdsoftware.com/Support/knowledge-base</mailingListUrl>
    <tags>hex editor</tags>
    <copyright>$copyright$</copyright>
  </metadata>
  <files>
    <file src="tools\chocolateyinstall.ps1" target="tools" />
    <file src="tools\chocolateyuninstall.ps1" target="tools" />
  </files>
</package>
