$packageArgs = @{
  packageName = '$id$'
  fileType = 'exe'
  url = '$url$'
  silentArgs = '-silent -machine'
  checksum = '$checksum$'
  checksumType = 'sha1'
  validExitCodes = @(0)
}

Install-ChocolateyPackage @packageArgs
